.page-product-list{
    display: flex;
    font-size: 1.9rem;
    gap: 1.2rem;
    justify-content: center;
    margin-bottom: 1rem;
}
.page-product-list .previous,
.page-product-list .next

{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid black;
  
}
.page-product-list li{
      text-align: center;
    line-height: 22px;
    width: 23px;
    height: 23px;
 border: 1px solid black;

}
.page-product-list li.activePage{
   background-color: #F62682;
   color: white;
   border: 1px solid #F62682;
}