.panelStyle .ant-modal{
    top: 0;
}
.panelStyle .ant-modal-root .ant-modal-mask{
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.panelStyle .ant-modal .ant-modal-content{
    box-shadow: 0;
    height:100vh
}