.toggle{
    width: 50px;
    height: 25px;
    background-color: #ccc;
    padding: 2px;
    cursor: pointer;
  
    border-radius: 100rem;
    transition: all .2 linear;


}
.spinner{
    width: 20px;
    height: 20px;
    border-radius: 100rem;
    background-color: white;
    transition: all .2 linear;
}
.toggle.active{
    background-color: #F62682;
}
.spinner.active{
    transform: translateX(25px);
}
.toggle-control{
margin: 0 25px;
display: flex;
align-items: center;
gap: 0 10px;
}
.toggle-control > *{
    cursor: pointer;
}