.tab-user.ant-tabs-top >.ant-tabs-nav::before{
    left: 0;
    border-bottom: none;
    content: '';
}

.tab-user.ant-tabs .ant-tabs-ink-bar {
    background: none;
}


.tab-user.ant-tabs .ant-tabs-tab {
    font-size: 16px;
    font-weight: 500;
}

.tab-user.ant-tabs .ant-tabs-tab:hover{
    color: pink;
}

.tab-user.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color: #f62682;
}


/* responsive */
@media only screen and (min-width: 375px){
    .tab-user.ant-tabs .ant-tabs-tab{
        font-size: 14px;
    }
    .tab-user.ant-tabs .ant-tabs-nav-list{
        margin: 0 auto
    }
}

@media only screen and (min-width: 768px){
    .tab-user.ant-tabs .ant-tabs-tab{
        font-size: 16px;
    }
    .tab-user.ant-tabs .ant-tabs-nav-list{
        margin: none;
    }
}

