.calendar-header .ant-picker-panel-container {
  background: #f62682;
}
.search-bar .ant-select-single {
  height: 28px;
}
.search-bar
  .ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector,
.search-bar .ant-picker-outlined {
  border: none;
}
.search-bar .ant-picker {
  padding: 4px 0;
}
.calendar-header .ant-picker-header {
  border-bottom: 1px solid white;
}
.search-bar .ant-select .ant-select-arrow,
.search-bar .ant-picker .ant-picker-suffix {
  display: none;
}
.calendar-header .ant-picker-header > button {
  color: white;
}
.calendar-header .ant-picker-date-panel .ant-picker-content th,
.calendar-header .ant-picker-cell .ant-picker-cell-inner {
  color: white;
}
.calendar-header .ant-picker-header-view {
  color: white;
}
.calendar-header .ant-picker-ranges > li {
  color: white;
}
.calendar-header .ant-picker-footer {
  border-top: 1px solid white;
}
.activeSearchbar {
  background-color: white;
  border-radius: 10rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
