.my-select{
    width: 100%;
    /* border: 1px solid black; */
    height: 2.5rem;
}
:where(.css-dev-only-do-not-override-1qfezbu).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector{
    border: none;
    background-color: none;
}
:where(.css-dev-only-do-not-override-1qfezbu).ant-select .ant-select-arrow{
    display: none;
}
.anticon{
    display: none;
}
:where(.css-dev-only-do-not-override-1qfezbu).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border-color:none;
}
.search-icon:hover :where(.css-dev-only-do-not-override-1qfezbu).ant-picker-outlined,
:where(.css-dev-only-do-not-override-1qfezbu).ant-picker-outlined:hover,
.search-icon:hover :where(.css-dev-only-do-not-override-1qfezbu).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector{
    border: none;
    background-color:rgba(128, 128, 128, 0.014);
}
:where(.css-dev-only-do-not-override-1qfezbu).ant-space-vertical {
    border: none;
}
:where(.css-dev-only-do-not-override-1qfezbu).ant-picker-outlined,
:where(.css-dev-only-do-not-override-1qfezbu).ant-picker-outlined:hover{
    border: none;
}
:where(.css-dev-only-do-not-override-1qfezbu).ant-picker{
    padding: 0;
    height: 2.5rem;
    color: black;
}